
body {
    margin-top: 5px;
    padding: 5px;
    background: #c6c6c6;
    height: 100%;
}

body select.form-control {
    display: inline-block;
    width: 125px;
    height: 100% !important;
}

.tabs .sub-window {
    padding: 10px;
    margin: 2px;
    height: 300px;
    width: 100%;
    cursor: pointer;
}

.tabs .sub-window:nth-child(1) {
    background: #b9e5e3;
}

.tabs .sub-window:nth-child(2) {
    background: #dbe4cc;
}

.tabs .sub-window:nth-child(3) {
    background: #eccfea;
}

.tabs .sub-window .content {
    background: #f9faf0;
    height: 88%;
    padding: 5px;
    font-size: 10pt;
    overflow-y: scroll;
    width: 30vw;
    cursor: text;
}

.tabs .header .btn-xs {
    border: 0px;
    font-weight: bold;
    background: gray;
    margin: 5px;
    margin-bottom: 10px;
}

#iframeWrapper {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 8px -2px black;
    padding: 10px;
    background: lightblue;
    margin-bottom: 15px;
}

#contentViewRender {
    height: 42vh;
    background: white;
    overflow-y: scroll;
}

.tabs .sub-window {
    font-size: 8pt !important;
}

.tabs .sub-window.focus .content {
    font-size: 11pt !important;
    border: 2px solid #6c6c6c;
    box-shadow: 1px 1px 10px -3px black;
    width: 60vw;
}